<!-- New Quest Modal -->
<dialog id="new-quest-modal" class="modal">
  <div class="modal-box rounded-2xl p-10">
    <h3 class="font-bold text-4xl">New Quest</h3>

    <%= form_with model: quest, url: quests_path, class: "space-y-4" do |f| %>
      <div>
        <%= f.text_area :content, rows: 3,
            class: "textarea mt-4 text-3xl textarea-bordered rounded-2xl w-full" %>
      </div>

      <div class="flex justify-end gap-2 ">
        <button type="button"
                class="btn btn-xl btn-ghost p-4"
                onclick="document.getElementById('new-quest-modal').close()">Cancel</button>
        <%= f.submit "Create", class: "btn btn-xl btn-warning rounded-md" %>
      </div>
    <% end %>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
