<!DOCTYPE html>
<html lang="th" xml:lang="th" data-theme="light" class="scroll-smooth">
  <head>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gradient-to-b from-[#0F4A84] to-[#04111E]">
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
